<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AUDIO BOOK</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>AUDIO BOOK</h1>
        <h3>Listen Beyond Words</h3>
    </header>
        <div class='filter-box'>
            <form method="get" action="/">
                <div class="form-group">
                    <input type="text" id="search" name="search" value="{{ search|default('', true) }}" placeholder="Search">
                </div>
                <div class="form-group">
                    <input type="text" id="author" name="author" value="{{ author|default('', true) }}" placeholder="Author">
                    <input type="text" id="narrator" name="narrator" value="{{ narrator|default('', true) }}" placeholder="Narrator">
                    <input type="text" id="series" name="series" value="{{ series|default('', true) }}" placeholder="Series">
                    <input type="text" id="language" name="language" value="{{ language|default('', true) }}" placeholder="Language">
                    <input type="number" id="min_length" name="min_length" value="{{ min_length|default('', true) }}" placeholder="Min length">
                    <input type="number" id="min_rating" name="min_rating" value="{{ min_rating|default('', true) }}" placeholder="Min rating", step="0.01">
                    <input type="number" id="min_votes" name="min_votes" value="{{ min_votes|default('', true) }}" placeholder="Min votes">
                </div>
                <div class="form-group">
                    <button type="submit">Search</button>
                </div>        
            </form>        
        </div>
<section class="sort-option">
  <label for="sort_by">Sort by:</label>
  <select name="sort_by" onchange="window.location.href='/?search=' + document.getElementById('search').value + '&author=' + document.getElementById('author').value + '&narrator=' + document.getElementById('narrator').value + '&series=' + document.getElementById('series').value + '&language=' + document.getElementById('language').value + '&min_length=' + document.getElementById('min_length').value + '&min_rating=' + document.getElementById('min_rating').value + '&min_votes=' + document.getElementById('min_votes').value + '&page=1&per_page=' + document.getElementById('per_page').value + '&sort_by=' + this.value + '&sort_order=' + document.getElementById('sort_order').value">
    <option value="">Select</option>
    <option value="title" {{ 'selected' if sort_by == 'title' }}>Title</option>
    <option value="author" {{ 'selected' if sort_by == 'author' }}>Author</option>
    <option value="narrator" {{ 'selected' if sort_by == 'narrator' }}>Narrator</option>
    <option value="series" {{ 'selected' if sort_by == 'series' }}>Series</option>
    <option value="language" {{ 'selected' if sort_by == 'language' }}>Language</option>
    <option value="length" {{ 'selected' if sort_by == 'length' }}>Length</option>
    <option value="rating" {{ 'selected' if sort_by == 'rating' }}>Rating</option>
    <option value="votes" {{ 'selected' if sort_by == 'votes' }}>Votes</option>
  </select>
  <label for="sort_order">Sort order:</label>
  <select name="sort_order" id="sort_order">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
  </select>
</section>
    <main>
        <section style='display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));'>
            {% for item in data %}
            <div class='card'>
                <a href="https://audible.com{{ item['link'] }}" target="_blank">
                    <img src="{{ item['image_url'] }}" alt="{{ item['title'] }}" class='card-image' style='width: 100%; height: 70%;'>
                    <div class='card-content'>
                        <p class='card-title'>{{ item['title'] }}</p>
                        <p class='card-rating'>Rating: {{ item['rating'] }}</p>
                        <p class='card-votes'>Votes: {{ item['votes'] }}</p>
                    </div>                
                </a>            
            </div>        
            {% endfor %}
        </section>
        <section class='pagination'>
            {% if page > 1 %}
            <a href="/?search={{ search|default('', true) }}&author={{ author|default('', true) }}&narrator={{ narrator|default('', true) }}&series={{ series|default('', true) }}&language={{ language|default('', true) }}&min_length={{ min_length|default(0, true) }}&min_rating={{ min_rating|default(0, true) }}&min_votes={{ min_votes|default(0, true) }}&page={{ page-1 }}">Previous</a>
            {% endif %}
            {% if (page*per_page) < df.shape[0] %}
            <a href="/?search={{ search|default('', true) if search else '' }}&author={{ author|default('', true) if author else '' }}&narrator={{ narrator|default('', true) if narrator else '' }}&series={{ series|default('', true) if series else '' }}&language={{ language|default('', true) if language else '' }}&min_length={{ min_length|default(0, true) if min_length else 0 }}&min_rating={{ min_rating|default(0, true) if min_rating else 0 }}&min_votes={{ min_votes|default(0, true) if min_votes else 0 }}&page={{ page+1 }}">Next</a>
            {% endif %}
            <label for="per_page">Results per page:</label>
            <input type="number" id="per_page" name="per_page" value="{{ per_page }}" onchange="window.location.href='/?search='+document.getElementById('search').value+'&author='+document.getElementById('author').value+'&narrator='+document.getElementById('narrator').value+'&series='+document.getElementById('series').value+'&language='+document.getElementById('language').value+'&min_length='+document.getElementById('min_length').value+'&min_rating='+document.getElementById('min_rating').value+'&min_votes='+document.getElementById('min_votes').value+'&page=1'+'&per_page='+this.value">
        </section>
  
    </main>

</body>
</html>

